# From discord.com/developers/applications
DISCORD_TOKEN=

# From discord.com/developers/applications
DISCORD_CLIENT_ID=

# The ID of your Discord server
DISCORD_GUILD_ID=

# Your Runware API key
RUNWARE_API_KEY=